.logement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    img{
        height: 415px;
        width: 90%;
        object-fit: cover;
        border-radius: 25px;
    }
    &-title{
        width: 90%;
        color: $color-primary;
        text-align: left;
        font-size: 36px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    &-loc{
        width: 90%;
        text-align: left;
        font-weight: 500;
        font-size: 18px;
    }
}

.filled{
    color: $color-primary;
}