.dropdown{
    width: 48%;
    overflow: hidden;
    &-align{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
    }
    &-toggle{
        position: relative;
        width: 100%;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-primary;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        padding-left: 15px;
        z-index: 1;
        i{
            font-size: 2em;
            margin-right: 15px;
        }
    }
    &-menu{
        list-style: none;
        visibility: hidden;
        background-color: $color-secondary;
        margin-top: -5px;
        padding: 15px 25px;
        border-radius: 0px 0px 10px 10px;
        li{
            font-size: 18px;
            font-weight: 400;
        }
    }
}

.open{
    animation: open 0.3s linear forwards;
}

.close{
    animation: close 0.3s linear forwards;
}

.slidedown{
    animation: slideDown 0.3s linear forwards;
}

.slideup{
    animation: slideUp 0.3s linear forwards;
}

.shrink{
    animation: shrink 0.3s linear forwards;
}

.unshrink{
    animation: unshrink 0.3s linear forwards;
}

@keyframes open {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(180deg);
    }
}

@keyframes close {
    0%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

@keyframes slideDown {
    0%{
        transform: translateY(-100%);
        visibility: visible;
    }
    100%{
        transform: translateY(0%);
        visibility: visible;
    }
}

@keyframes slideUp {
    0%{
        transform: translateY(0%);
        visibility: visible;
    }
    100%{
        transform: translateY(-100%);
        visibility: visible;
    }
}

@keyframes shrink {
    0%{
        height: fit-content;
    }
    100%{
        height: 52px;
    }
}

@keyframes unshrink {
    0%{
        height: 52px;
    }
    100%{
        height: fit-content;
    }
}

@media screen and (max-width: 768px){
    .dropdown{
        width: 100%;
        &-align{
            flex-direction: column;
        }
        &-toggle{
            height: 30px;
            font-size: 14px;
            i{
                font-size: 1.6em;
            }
        }
        &-menu{
            padding: 10px 20px;
            li{
                font-size: 14px;
            }
        }
    }
}