.tag{
    &-list{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }
    &-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: $color-primary;
        color: white;
        height: 25px;
        padding: 0px 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 700;
    }
}

@media screen and (max-width: 768px){
    .tag{
        &-list{
            gap: 5px;
        }
        &-item{
            border-radius: 5px;
            height: 20px;
            padding: 0px 5px;
            font-size: 12px;
            margin: 0;
        }
    }
}